<footer class="mt-4 myFoot">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 footBlocks blockBg">
            <h4>It’s easy</h4>
            <p>Your Payments are a Click Away</p>
            <p>Flexible Payment Methods</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 footBlocks blockOne"></div>
        <div class="col-12 col-sm-6 col-md-3 footBlocks blockBg">
            <h4>All in one place</h4>
            <p>Never Miss a Bill</p>
            <p>Track Your Spending</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 footBlocks blockTwo"></div>
    </div>
    <div class="flex-row flex-row-reverse row">
        <div class="col-12 col-sm-6 col-md-3 footBlocks blockBgTwo">
            <h4>Save your time</h4>
            <p>Pay Anytime!</p>
            <p>Pay Anywhere!</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 footBlocks blockThree"></div>
        <div class="col-12 col-sm-6 col-md-3 footBlocks blockBgTwo">
            <h4>We have all the services you need</h4>
            <p>Mobile Recharge, Internet Bills</p>
            <p>Electricity, Cable TV,
                Gas & Water Bills</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 footBlocks blockFour"></div>
    </div>
    <div class="row footNav">
        <div class="col-12 col-sm-12 c0l-md-12 col-lg-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-3 footLinks">
                    <a href=""><img src="../assets/img/playstore.png" alt="" srcset="../assets/img/playstore@2x.png 2x,
                         ../assets/img/playstore@3x.png 3x"></a>
                </div>
                <div class="col-6 col-sm-6 col-md-3 footLinks">
                    <ul>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-md-3 footLinks">
                    <h5>Follow Us</h5>
                    <ul class="socialLinks">
                        <li><a href="#"><img src="../assets/img/in.png" alt="" srcset="../assets/img/in@2x.png 2x,
                                             ../assets/img/in@3x.png 3x"></a></li>
                        <li><a href="#"><img src="../assets/img/fb.png" alt="" srcset="../assets/img/fb@2x.png 2x,
                         ../assets/img/fb@3x.png 3x"></a></li>
                        <li><a href="#"><img src="../assets/img/twitter.png" alt="" srcset="../assets/img/twitter@2x.png 2x,
                         ../assets/img/twitter@3x.png 3x"></a></li>
                        <li><a href="#"><img src="../assets/img/instagram.png" alt="" srcset="../assets/img/instagram@2x.png 2x,
                         ../assets/img/instagram@3x.png 3x"></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-md-3 footLinks">
                    <div class="footRight">
                        <img src="../assets/img/chat.png" alt="" srcset="../assets/img/chat@2x.png 2x, ../assets/img/chat@3x.png 3x" class="img-fluid">
                        <p class="ml-2"><strong>Our Live Chat Support</strong><br>
                            team will help you in
                            case of any queries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row copyRight">
        <div class="col-12 text-center">
            <p>All rights reserved. &copy; 2019 PAYBILLS.</p>
        </div>
    </div>
</footer>
