<header class="row homeBanner">
    <div class="col-12 homeBannerInn">
        <div class="my-auto container">
            <h3 class="text-center">The easy Payment solution</h3>
            <div class="homeBanBtn">
                <ul class="row ">
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a [routerLink]="['/power']"
                            routerLinkActive="router-link-active"><img src="../assets/img/powerban.png" srcset="../assets/img/powerban@2x.png 2x,
                                                         ../assets/img/powerban@3x.png 3x"
                                class="power mb-2"><br>Botswana Power</a>
                    </li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a [routerLink]="['/dstv']"><img
                                src="../assets/img/tvban.png" srcset="../assets/img/tvban@2x.png 2x,
                                                                             ../assets/img/tvban@3x.png 3x"
                                class="tv mb-2"><br>DSTV Digital TV</a>
                    </li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a [routerLink]="['/mascom']"><img
                                src="../assets/img/airtimeban.png" srcset="../assets/img/airtimeban@2x.png 2x,
                                                                             ../assets/img/airtimeban@3x.png 3x"
                                class="airtime mb-2"><br>Mascom Airtime</a>
                    </li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a
                            [routerLink]="['/intercape']"><img src="../assets/img/intercapeban.png" srcset="../assets/img/intercapeban@2x.png 2x,
                                                                             ../assets/img/intercapeban@3x.png 3x"
                                class="intercape mb-2"><br>Intercape Pay</a></li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a href="./dstv.html"><img
                                src="../assets/img/zakaban.png"
                                srcset="../assets/img/zakaban@2x.png 2x, ../assets/img/zakaban@3x.png 3x"
                                class="tv mb-2"><br>MyZaka
                            Money</a>
                    </li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a href="./dstv.html"><img
                                src="../assets/img/cityban.png"
                                srcset="../assets/img/cityban@2x.png 2x,
                                                                                                             ../assets/img/cityban@3x.png 3x"
                                class="tv mb-2"><br>Gaborone City</a>
                    </li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a href="./dstv.html"><img
                                src="../assets/img/waterban.png"
                                srcset="../assets/img/waterban@2x.png 2x, ../assets/img/waterban@3x.png 3x"
                                class="tv mb-2"><br>Water
                            Utilities</a>
                    </li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a href="./dstv.html"><img
                                src="../assets/img/omoneyban.png"
                                srcset="../assets/img/omoneyban@2x.png 2x, ../assets/img/omoneyban@3x.png 3x"
                                class="tv mb-2"><br>Orange
                            Money</a>
                    </li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a href="./dstv.html"><img
                                src="../assets/img/btcban.png"
                                srcset="../assets/img/btcban@2x.png 2x,
                                                                                                                 ../assets/img/btcban@3x.png 3x"
                                class="tv mb-2"><br>BTC Mobile</a>
                    </li>
                    <li class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center mb-3"><a href="./dstv.html"><img
                                src="../assets/img/orangeban.png"
                                srcset="../assets/img/orangeban@2x.png 2x, ../assets/img/orangeban@3x.png 3x"
                                class="tv mb-2"><br>Orange Airtime</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center cardsAcc">
                Cards Accepted <img src="../assets/img/acceptedpay.png" srcset="../assets/img/acceptedpay@2x.png 2x,
                                         ../assets/img/acceptedpay@3x.png 3x" class="ml-2">
            </div>
        </div>
    </div>
</header>