<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top myNav">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >
            <img src="../assets/img/logo.png" srcset="../assets/img/logo@2x.png 2x, ../assets/img/logo@3x.png 3x" class="img-fluid">
        </a>
        <div class="form-inline navRight">
            <a href="http://"><img src="../assets/img/playstore.png" srcset="../assets/img/playstore@2x.png 2x,
                         ./img/playstore@3x.png 3x" class="mx-3"></a>
            <a href="http://">Help & support</a>
        </div>
    </div>
</nav>
